<%- include('../partials/header.ejs') %>

<h3 class="loginRegister">Log In Below</h3>

<p><%= message %></p>

 <form class='inputForm' method='POST' action='/auth/login'>
 	<fieldset class='fieldset'>	
	 	<div class='regLoginForm'>
			<label class='label' for='user'>Username</label>
			<input class='input'
			id='user'
			type='text'
			name='user'
			placeholder='Username...'
			/>
		</div>
		<div class='regLoginForm'>
			<label class='label' for='password'>Password</label>
			<input class='input' 
			id='password'
			type='password'
			name='password'
			placeholder='Password...'
			/>
		</div>
    <button class=loginButton>Log in!</button>
 	</fieldset>
 </form>


<%- include('../partials/footer.ejs') %>
 		



 		