<%- include('./partials/header.ejs') %>

<meta name="image" property="og:image" content="https://i.imgur.com/tXuArBp.png">

<h1 class='homeHeading3'> Travel America </h1>

<p> <%= message %> </p>

<h4 class='homeHeading4'>About</h4>

<p class='homeP'>Register an account to start tracking your travels</p>

<p class='homeP'>Drop some comments and interact with other travelers!</p>

<p class='homeP'>Just dropping by? See All States to find fun state facts and plan your next trip ✈️</p>

<h4 class='homeHeading4'>ENJOY!</h4>

<a class='homeImg' href="https://imgur.com/IfoBOGe"><img src="https://i.imgur.com/IfoBOGe.png" title="source: imgur.com" /></a>



<%- include('./partials/footer.ejs') %>

