<%- include('./partials/header.ejs') %>

<h3 class='homeHeading3'> Welcome to Travel America</h3>

<p> <%= message %> </p>

<h4 class='homeHeading4'>About</h4>

<p class='homeP'>Register an account with us and start tracking your travels.</p>

<p class='homeP'>Members can leave comments on their favorite destinations and learn about other users experiences</p>

<p class='homeP'>ALL users have access to the states index. There you will find a list of fun state facts.</p>

<h4 class='homeHeading4'>ENJOY</h4>



<%- include('./partials/footer.ejs') %>