<%- include('./partials/header.ejs') %>






<h1 class='homeHeading3'> Travel America </h1>

<p> <%= message %> </p>

<h4 class='homeHeading4'>About</h4>

<p class='homeP'>Register an account to start tracking the states you have visited</p>

<p class='homeP'>Drop some comments to tell others about your favorite visits and state secrets!</p>

<p class='homeP'>Just dropping by? Navigate to 'See All States' to find fun state facts or plan your next trip ✈️</p>

<h4 class='homeHeading4'>ENJOY!</h4>

<a class='homeImg' href="https://imgur.com/IfoBOGe">
  <img src="https://i.imgur.com/IfoBOGe.png" title="source: imgur.com" />
</a>



<%- include('./partials/footer.ejs') %>

