@font-face {
    font-family: 'Royal Acidbath';
    src: url('/css/fonts/RoyalAcidbath.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Royal Acid';
    src: url('/css/fonts/RoyalAcid.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



body{
	background:linear-gradient(to right, #ff8080, white , #80dfff); 
	font-family: sans-serif;
	text-align: center;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
	

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px 10%;
	border-width: 10px;
	font-family: 'Bungee Inline', cursive;
	font-size: 16px; 
	font-weight: 500;
	color: navy;
	text-decoration: none
}

#flag{
	width: 80px;
	height: 35px;
	cursor: pointer;
}

.states{
	background-color: white;
}

.navLinks{
	list-style: none;
	border-style: outset;
}

.navLinks li {
	display: inline-block;
	padding: 0px 20px;
  font-family: 'Royal Acid';
}

.navLinks li a:hover {
	color: red;
	text-decoration: border; 
	text-shadow: 2px 2px 4px #000000;
}
		
.inputForm {
	display: flex;
	text-align: center;
	justify-content: center;
}

.fieldset{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
	border: solid black 5px;
  padding: 40px;
	border-radius: 25%;
	font-size: 14pt
	text-align: center;
	margin: 30px;
}

.fieldsetTitle {
  padding: 10px;
}

.regLoginForm {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.label {
  display:  inline-block;
  align-content: right;
  margin-top: 10px;
}


.input {
 	margin: 5px;
  height: 26px;
 	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
 	text-align: center;
 }


.stateInfo {
  padding: 5px;
}

.birds{
	width: 500px;
	height: 500px;
	border: 10px solid black;
	border-radius: 20%;
	margin: 25px;
}
  	
.commentForm {
  padding: 5px 20px;
}

.textArea {
  width: 500px;
  padding: 5px;
}
.showButton {
  padding: 3px;
  margin: 5px;
}

.signupButton {
  margin-top: 9px;
  padding: 2px;
  width: 90px;
}
	
.loginButton {
  margin-top: 9px;
  padding: 2px;
  width: 90px;
}

.showHeading {
  margin: 5px;
  font-family: 'Royal Acidbath';
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.indexHeading{
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: 'Royal Acidbath';
  font-size: 50px;
}

.loginRegister {
  font-family: 'Royal Acidbath';
  font-size: 30px;
  margin-top: 20px;
}

.userProfile {
  font-family: 'Royal Acidbath';
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.userStatesVisited {
  padding: 2px;
}

.myProfile {
  position: absolute;
  right: 70px;
  font-family: 'Royal Acidbath';
  font-size: 25px;
  margin-top: -40px;
  margin-bottom: 20px;
}

.myProfile:hover {
  color:  red;
  text-decoration: border; 
  text-shadow: 2px 2px 4px #000000;
}

.statesColumns {
  column-count: 3;
  list-style-position: inside;
  column-rule-style: dotted;
  list-style-type: none;
}

.statesList {
  padding: 4px;
}


.homeHeading3 {
  margin: 15px;
  font-family: 'Royal Acidbath';
  font-size: 60px;
}

.homeHeading4 {
  margin: 35px;
  font-family: 'Royal Acid';  
}

.homeP {
  margin: 10px;
}

.homeImg {
  pointer-events: none;
}

footer {
  bottom : 0;  
  position:  fixed;
  margin-left: 10px;
  height : 30px;   
/*  text-align: center;  */
  vertical-align: bottom;
  font-size: 12px;
}






