  <nav>
    <small>
      
      <% if(user) {%>
    
      <a class='myProfile' href="/users/<%= userId %>">My Profile</a>
      <%}%>
      <p><%= message %></p>
    </small>    
  </nav>

      
     
